[submodule "third_party/pcsx_rearmed"]
	path = third_party/pcsx_rearmed
	url = https://github.com/libretro/pcsx_rearmed.git
[submodule "third_party/rcheevos"]
	path = third_party/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
